@model TesteCSharp.Dominio.Entidades.Candidates

@{
    ViewData["Title"] = "Register new candidates ||";
}

<h1>Cadastre novos candidatos</h1>

<h4>Candidatos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" id="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input  asp-for="Birthdate" type="date" id="Birthdate"  min="2000-01-01" class="form-control" />
                <span asp-validation-for="Birthdate"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" id="CreateC" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        $("#CreateC").click(function () {
            var dataCandidate = {
                Name: $("#Name").val(),
                Surname: $('#Surname').val(),
                Email: $("#Email").val(),
                Birthdate: $("#Birthdate").val()
            }
         var URL = '@Url.Action("CreateCandidate")'
                $.ajax({
                    url: URL,
                    type: "POST",
                    data: dataCandidate,
                    success: function (dados) {
                            $("#Name").val('')
                            $("#Surname").val('')
                            $("#Email").val('')
                            $("#Birthdate").val('')
                    }
                });
        });
    
    </script>
}